.tab-links li {
    margin:5px;
    float:left;
}
ul {
    padding-bottom: 40px;
}
.tab-links a {
    padding:15px;
    display:inline-block;
    border-radius: 10px;
    background:#F557AB;
    color:#000000;
}

li.active a{
    background:#fff;
    color:#4c4c4c;
}

.tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(6, 5, 5, 0.7);
    background:#f77D7D;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}