* {
    box-sizing: border-box;
}
body {
    background-color: cornsilk;
    height: 81%;
}
h1 {
    text-align: center;
    font-size-adjust: auto;
}
.content:after {
    content: "";
    clear: both;
    display: block;
    padding: 3%;
    border: 5px;
}
.header {
    background-color: #2D0144;
    color: #ffffff;
    padding: 15px;
}
.leftside {
    float:left;
    width: 100%;
}
.leftside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.leftside li{
    padding: 8px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 7px;
}
.leftside li:hover{
    background-color: #0099cc;
}
.mid {
    text-align: center;
    float: left;
    padding: 15px;
    width: 100%;
}
.mid img {
    width : 67%;
    height : 38%;
}
.rightside {
    float: left;
    padding: 15px;
    width: 100%;
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 7px;
}
p {
    font-family: cursive;
}
.footer {
    bottom: 0.5%;
    width: 100%;
    position: relative;
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
@media only screen and (min-width: 500px) {
    .leftside {width: 24%;}
    .rightside {width: 24%;}
    .mid {width: 48%;}
/*    .footer {position: fixed;}*/
}
